<h1><%= @character.name %></h1>
<h1><%= @character.charClass %></h1>
<h1><%= @character.background %></h1>
<h1><%= @character.alignment %></h1>
<h1><%= @character.race %></h1>


<p><%= link_to "Edit", edit_character_path(@character) %> </p>
<p><%= link_to "Delete", character_path(@character), :data => {:confirm => "You sure?", :method => "delete"} %></p>

<p> <%= link_to "Return to character list", characters_path %></p> 
